@charset "UTF-8";
#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    place-items: center;
    min-height: 100vh;
  }
  
  .grid-item {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 300px;
    padding: 20px;
  }
  
  .grid-item img {
    width: auto;
    height: auto;
  }
  
  /* Optional hover effect */
  .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .convenients-form{
    margin-top: 250px;
  }
  .convenients-section {
    font-family: Arial, sans-serif;
    background-color: #e82828;
    color: #333;
    margin: 0;
    padding: 0;
   
    
  }
  .convenients-section h2 {
    font-size: 2em;
    margin: 1em 0;
    color: #FF6F61;
    text-shadow: 1px 1px 2px #999;
    text-align: center;
  }
  
  .convenients-section p {
    font-size: 1.2em;
    margin: 0.5em 0;
    text-align: center;
  }
  
  .convenients-section {
    background-color: #FFF;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
    margin: 1em;
  }
  
  .convenients-section p:first-of-type {
    margin-top: 0;
  }
  
  .convenients-section p:last-of-type {
    margin-bottom: 0;
  }