@charset "UTF-8";
/* Global styles */
.mainform {
	font-family: Arial, sans-serif;
	line-height: 1.5;
}

.costum-main {
	padding: 20px;
}

.costum-section {
	margin-bottom: 40px;
}
.box {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px 0;
	background-color: #f7f7f7;
}
.box h2 {
	font-size: 24px;
	margin: 0 0 10px;
}
.box p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
.photo {
	max-width: 100%;
	height: auto;
	margin: 20px 0;
}

.costum-section h2 {
	margin-bottom: 20px;
	font-size: 24px;
    text-align: center;
}

.costum-section ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}

.costum-section li {
	border: 1px solid #ddd;
	padding: 20px;
	text-align: center;
}

.costum-section img {
	max-width: 100%;
}

.costum-section button {
	background-color: #333;
	color: #fff;
	padding: 10px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}

.costum-section button:hover {
	background-color: #fff;
	color: #333;
}

/* Media queries */

@media screen and (max-width: 768px) {
	nav ul {
		flex-direction: column;
	}
	
	nav li {
		margin-bottom: 10px;
		margin-right: 0;
	}
}
