@charset "UTF-8";
/*--------------------------.downpage-----------------------*/
.downpage {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
    display: flex;
    align-items: center;
    bottom: 0;
}
.downpage .footerLogo {
    display: inline;
	width: 40px;
	height: 40px;
	font-size: 0px;
	color: transparent;
}

.downpage p {
	width: 70%;
	text-align: center;
}

.downpage .sns a img {
	display: inline-block;
	width: 20px;
	margin-left: 20px;
}

/* Media queries */

@media screen and (max-width: 768px) {
	nav ul {
		flex-direction: column;
	}
	
	nav li {
		margin-bottom: 10px;
		margin-right: 0;
	}
}