@charset "UTF-8";
/*------------------------header---------------------------*/
.main-header a {
	
	color: #333;
	
}

.main-header {
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    top: 0;
    
}
.main-header h1{
    text-align: center;
}

