@charset "UTF-8";
.header {
	postion:fixed;
    margin:0;
    font-family:"맑은 고딕";
    font-size:16px; /* 기본 크기이면 생략 가능 */
    background-color:#f7f7f7;
    top:0;
    height:1500px;
    
}
.header a{
    color:rgb(11, 9, 5);
    text-decoration: none;
    align:bottom;
}
a:hover{
    color:black;
}
/* === BASE HEADING === */ 
.header h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  /* header h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  } */
 .header h1 em {
    font-style: normal;
    font-weight: 600;
  }
  /* STYLE 6
   ----------------------------- */
.six h1 {
    text-align: center;
    color:#222; font-size:45px; font-weight:400;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px; color:#e382d8;
    background:white;
    margin-top:10px;
    
  }
  .six h1 span {
    line-height:2em; padding-bottom:15px;
    text-transform: none;
    font-size:.7em;
    font-weight: normal;
    font-style: italic; font-family: "Playfair Display","Bookman",serif;
    color:#f793de; letter-spacing:-0.005em; word-spacing:1px;
    letter-spacing:none;
  }
  .six img {
  display:block;
  margin:0px auto;
  }


/*-----------------------------------------------------------------------------------------------------*/
/* login ------------------------------------------------------------------------------------------------------*/
#login {
    text-align: right;   
    height: 25px;
    word-spacing: 5px;
    margin: 20px 64px 0 0;
 }
    
#login i{
font-size: 30px;
}
   
 #login a{/*하이퍼링크 된곳 css 효과 */
     text-decoration: none;/*원래 하이퍼링크가 걸리면 밑줄
     선이 생긴다. 이 밑줄선을 제거하는 효과 */
     color:#333;/*하이퍼링크 된곳 글자색 지정*/
       
 }
 #login a:hover{/* 하이퍼링크 된곳 마우스 오버시 css효과*/
    color:#F90;/* #FF9900과 같다.*/
    cursor: pointer;
 }
 .clear{
    clear:both;/* div간 잘못된 css적용을 막아줌.즉 div에
    float:left;속성이 적용된 경우 빈공백으로 div레이아웃이
    올라가는 현상이 발생하는 것을 방지한다.*/
 }
 /*-------------------------------------------------------------------------------------------------------*/
*{
    box-sizing:border-box;
}

.header{
    width:100%;
    height:150px;
    background-color:white;
    padding-top:20px;
    z-index: 100;
    position: fixed;
}
div.section{
    width:100%;
    height:auto;
    background-color:white;
    padding-top:20px;
    border-radius: 15px;
}


/* 헤더 디자인 */
h1.logo{
    width:150px;
    height:50px;
    background-color:transparent;
    margin:auto;
    text-align:center;
}
h1.logo img{
    width:100%;
    height: 100%;
}
nav{
    width:90%;
    height:50px;
    background-color:rgb(249, 173, 244);
    margin:auto; /* margin:auto auto auto auto; */
    border-radius: 15px;
}
ul.n-list{
    width:100%;
    margin:0;
    padding:0;
    border-radius: 15px;
}
ul.n-list > li{
    width:15%;
    background-color:rgb(229, 116, 237);
    float:left;
    list-style:none;
    margin-left:4.16%;
    margin-top:5px;
    border-radius: 15px;
}
ul.n-list > li > a{
    display:block;
    width:100%;
    height:40px;
    text-align:center;
    padding-top:10px;
    color:white;
    border-radius: 15px;
    
}
ul.n-list li a:hover{
    background-color:rgb(97, 97, 97);
    color:rgb(255, 255, 255);
    border-radius: 15px;
}
div.slider-wrap{
    width:90%;
    height:auto;
    margin:auto;
    background-color:burlywood;
    margin-bottom:30px;
    border-radius: 15px;
    
}
div.slider-wrap img{
    width:100%;
}
div.pro-wrap{
    width:90%;
    height:auto;
    margin:auto;
    
    
}
ul.pro-list{
    width:100%;
    margin:0;
    padding:0;
    border-radius: 15px;
}
ul.pro-list li{
    width:20%;
    float:left;
    height:auto;
/*    background-color:darkgray;*/
    list-style:none;
    margin-top:50px;
    margin-left:4%;
    
}

.thum{
    width:100%;
    height:auto;
    background-color:transparent;
    
}
.thum img{
    width:100%;
}
.text{
    width:100%;
    height:auto;
    background-color:rgb(0, 0, 0);
    padding:10px;
}
.pro-list li a{
    color:white;
}
.pro-list li a:hover{
    color:white;
}
.mobile{
    display:none;
}

.hover-text{
    color:black;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    position:absolute;
    top:100%;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(2, 2, 2);
    transition:1s;
}
.thum{
    position:relative;
    overflow:hidden;
}
.thum:hover .hover-text{
    top:0;
}

/* 드롭다운 */
.drop-down{
    width:100%;
    padding:0;
    margin:0;
    position:absolute;
    height:0;
    overflow: hidden;
    transition:1s;
    border-radius: 15px;
    
}
.n-list>li{
    position:relative;
}
.drop-down>li{
    list-style-type:none;
    background-color: rgb(232, 221, 221);
    
}
.drop-down>li>a{
    display:flex;
    width:100%;
    height:50px;
    align-items: center;
    text-indent:20px;
    background-color:rgb(250, 248, 248);
    
}
.n-list>li:hover .drop-down{
    height:250px;
}
.dashed{
    background-color:black;
    margin:auto;
    width:80%;
    height:1px;
    border-top:1px dashed white;
    border-bottom:none;
}
@media screen and (max-width:800px){
    nav{
        width:95%;
    }
    .slider-wrap{
        width:95%;
    }
    .pro-wrap{
        width:95%;
    }
    ul.pro-list li{
        width:23%;
        margin-left:1.6%;
    }
    .text{
        font-size:1.5vw; /* 브라우저의 너비를 단위 1000분의 1 예 1200px 1vw(12px) */
    }
}

@media screen and (max-width:640px){
    nav{
        width:100%;
    }
    ul.n-list li{
        width:17%;
        margin-left:2.5%;
    }
    div.slider-wrap{
        margin-bottom:0;
    }
    ul.pro-list li{
        margin-top:20px;
    }
}
@media screen and (max-width:550px){
    nav{
        display:none;
    }
    header{
        height:auto;
    }
    div.section{
        padding:0;
    }
    ul.pro-list li{
        width:45%;
        margin-left:3.33%;
        
    }
    .text{
        font-size:2.5vw;
    }
    .mobile{
        width:50px;
        position:absolute;
        top:25px;
        left:50px;
        display:block;
   
    }
    .mobile i{
        font-size:30px;
    }
}