
/* 기본 설정 */
html,body{
    margin: 0;
    overflow-x: hidden;
}
/* 선 변경 */
.mainTodayTime hr{
    opacity: 0.4;
    width: 30vw;
}
a{
    text-decoration: none;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

#cbody{
margin-top:230px;
}
/* swiper 시작 */
.swiper-container{
position: relative;
width: 100vw;
height: 90%;
}
.swiper{
width: 100vw;
height: 70%;
}
.swiper-slide{
text-align: center;
display: flex;
/* 브라우저별 정렬 */
-webkit-box-pack: center; 
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
/* swiper imag 설정 */
.swiper-slide img {
display: block;
width: 100vw;
height: 100%;
object-fit: cover;

}
/* swiper button 설정 */
.swiper-button-next{
background-image: url("../img/main/next.png"); 
background-repeat: no-repeat;
background-size: 100% auto;
filter: grayscale(100%);
margin-right:10px;
width:30px;
}
.swiper-button-prev{
background-image: url("../img/main/left-arrow.png");
background-repeat: no-repeat;
background-size: 100% auto;
filter: grayscale(100%);
width:30px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
display: none;
}
/* autoplay button */
.btn-wrapper{
position: absolute;
color: white;
background-color: rgba(0,0,0,0.3);
width: 25px;
border-radius: 50px;
font-size: 5px;
left:54%;
bottom:1.7%;
z-index: 20;
display: flex;
justify-content: center;
align-items: center;
}

/* 운영시간 css */
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.time p{
    display: inline-block;
}
.time a{
    color: black;
    font-weight: bold;
    font-size: large;
}



/* 기구소개 시작 */
.attraction-introduce{
    width: 100vw;
    height: 120vh;
    background-image: url("../img/main/atraction.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.attraction-container{
    width: 100%;
    height: 90%;
}
.attraction-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px 100px;
}

.attraction-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 50px 100px;
}
.attraction-item{
    margin-right: 50px;
    background-color: white;
    border-radius: 10px;
}
.attraction-item a{
    width: 100%;
    height: 100%;
}
.attraction-item img{
    width: 400px;
    height: 200px;
    border-radius: 10px 10px 0 0;
   
}
.attraction-item:hover{
	background-color: rgba(111,35,249,1);
	box-shadow: 5px 5px 15px black;
}

.attraction-item:hover .attraction-context{
	color:white;
}

.attraction-context{
   height: 70px;
   color: black;
   text-align: center;
   font-size: 2em;
    font-weight: bold;
}

.attraction-btn{
	cursor: pointer;
    width: 200px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center; 
    margin:0 auto;
}

.attraction-btn:hover{
	background-color: rgba(111,35,249,1);
	color: white;
}

.attraction-btn a{
	display: flex;
	justify-content: center;
	align-items:center;	
}

.attraction-btn a span{
	color: blue;
}

.attraction-btn:hover span{
	color: white;
}

/* 굿즈소개 시작 */
.goods-introduce{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke; 
    background-image: url('https://pbs.twimg.com/media/D3sEvCWUwAAqLsS?format=png');
    background-repeat: no-repeat;
    background-size: cover;
}
.goods-introduce a{
    text-decoration: none;
    color: black;
}

.attr-main-title{
    display: inline-block;
    text-align: center;
    margin-top: 3%;
    width: 100%;
    height: 10%;
    color: white;
    font-size:1.3rem;
}

.goods-main-title{
    display: inline-block;
    text-align: center;
    margin-top: 3%;
    width: 100%;
    height: 10%;
    color: black;
    font-size:1.3rem;
}


.goods-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
}


.goods {
    display: inline-block;
    background-color: white;
    width: 15%;
    height: 70%;
    margin-left: 20px;
    margin-right: 30px;
    border: 0 solid rgba(0,0,0,0.3);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333;
}
.goods:hover{
    transform: translateY(-10px);
    transform: translateX(-5px);
    box-shadow: 5px 5px 10px #111;
    background-color: rgb(249, 173, 244);
    border-radius: 10px;
}
.goods:hover .goods-text{
    color: white;
}

.goods:last-child{
    margin-right: 30px;
}

.goods img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.goods-text{
    display: block;
    width: 100%;
    height: 30%;
    padding-left: 15px;
}

.goods-text-title {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
}
.goods-text-serve{
    margin-left: 50px;
}

.goods-btn{
    cursor: pointer;
    width: 200px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto; 
}

.goods-btn:hover{
	background-color: rgb(249, 173, 244);
	color: white;
}

.goods-btn a{
	display: flex;
	justify-content: center;
	align-items:center;	
}

.goods-btn a span{
	color: blue;
}

.goods-btn:hover span{
	color: white;
}


@media screen and (max-width: 800px) {
    .goods-text-title{
        font-size: 2.5vh;
        font-size: 2.5vw;
    }
}