@charset "UTF-8";
.my{
    width: 70%;
    margin-top: 230px;
}

.my img{
    width: 450px;
    height: 100px;
    margin-top: 230px;
}
.list{
    height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    background-color: greenyellow;
    margin-left: 300px;
    font-size: 15px;
}

.b{
    margin-left: 30px;
    color:blueviolet;
}

.list2{
    height: 20px;
    text-align: center;
    margin-left: 1000px;
}
.list2 img{
    padding-right: 30px;
}
.b1{
    font-size: 10px;
}