@charset "UTF-8";

body {
	background-color: #f6f6f6;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	color: #333333;
}

a {
	text-decoration: none;
}

header {
	background-color: #ff5757;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0px;
	z-index: 100;
}

h1 {
	margin: 0;
	font-size: 3rem;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

nav {
	background-color: #ffffff;
	color: #333333;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 70px;
	z-index: 99;
}

nav a {
	color: #333333;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: color 0.3s ease-in-out;
}

nav a:hover {
	color: #ff5757;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	margin-top: 50px;
}

section {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
	width: 300px;
	transition: transform 0.3s ease-in-out;
}

section:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
	margin: 0 0 10px 0;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

p {
	margin: 0;
	line-height: 1.5;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

footer {
	background-color: #333333;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	margin-top: 50px;
}

footer a {
	color: #f6f6f6;
}

#f1 { /* ID가 f1인 요소에 대한 스타일 지정 규칙을 설정하는 CSS 코드 블록입니다.*/
	display: flex;/*display 속성은 flex로 설정되며 이는 요소가 유연한 컨테이너로 표시됨을 의미합니다.*/
	align-items: center;
	justify-content: space-between;
	margin: 0 500px 0 500px;
}

footer p { /*바닥글 내의 p 요소에 대한 스타일 지정 규칙을 설정하는 CSS 코드 블록입니다.*/
	margin: 0; /*margin 속성은 0으로 설정되어 p 요소와 주변 요소 사이에 여백이 없음을 의미합니다.*/
	font-size: 0.8rem;
	/*font-size 속성은 0.8rem으로 설정되며, 이는 p 요소의 글꼴 크기가 루트 글꼴 크기의 0.8배가 됨을 의미합니다. 
	이렇게 하면 페이지의 다른 요소에 비해 p 요소 내 텍스트의 글꼴 크기가 더 작아집니다.*/
}
/*--------------------최대 너비가 768픽셀인 화면에 대한 스타일 지정 규칙을 설정하는 CSS 코드 블록입니다.-----------------------------------------*/
@media screen and (max-width: 768px) {/*화면 너비가 768픽셀 이하인 경우 main 요소는 column의 플렉스 방향과 center의 align-items를 가지게 됩니다.
		 요소가 세로로 쌓이고 가로 축을 따라 중앙에 배치됩니다.*/
	main {
		flex-direction: column;
		align-items: center;
	}
	section {/*또한 모든 section 요소의 margin-bottom 속성은 40px로 설정되어 각 section 요소에 40픽셀의 아래쪽 여백을 추가합니다.*/
		margin-bottom: 40px;
	}
}