<!DOCTYPE html>
<html>
  <head>
    <title>버츄얼랜드스토어</title>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/f84cdf215e.js"
      crossorigin="anonymous"
    ></script>

    <!-- swiper script -->
    <script>
      $("document").ready(function () {
        var swiper = new Swiper(".swiper-container", {
          slidesPerView: "auto",
          spaceBetween: 30 /*사진 간 간격*/,
          autoplay: true /*자동실행*/,
          loop: true /*반복*/,
          pagination: {
            /*밑에 이동 버튼*/ el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            /*양쪽 이동 버튼 설정*/ nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
        /*swiper 자동실행 정지*/
        $(".auto-start").click(function () {
          swiper.autoplay.start();
        });
        $(".auto-stop").on("click", function () {
          swiper.autoplay.stop();
        });
      });
    </script>
  </head>
  <body>
    <head>
      <title>버츄얼랜드스토어</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
        rel="stylesheet"
      />
    </head>
    <div class="navbar">
      <ul id="menu">
        <li><a href="#">contact</a></li>
        <li><a href="#">shop</a></li>
        <li><a href="#">cart</a></li>
        <li><a href="#">login</a></li>
      </ul>
    </div>
    <!-- main swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="#"><img src="img/mainimg.png"></a></div>
          <div class="swiper-slide"><a href="#"><img src="img/2.jpg"></a></div>
          <div class="swiper-slide"><a href="#"><img src="img/3.jpg"></a></div>
          
      </div>
      <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div class="btn-wrapper">
      <div class="auto-start"><i class="fa-solid fa-play"></i></div>
      <div class="auto-stop"><i class="fa-solid fa-pause"></i></div>
    </div>
</div>
    </div>
    <div class="products">
      <h3>버츄얼랜드스토어</h3>
      <div class="product-list">
        <a href="#" class="product">
         <img
          src="img/701654899163093_1415798837.jpg"
          width="225"
          height="225"
         />
         <div class="product-name">파랑요정</div>
          <hr />
          <br />
          <img src="img/mdpick.png" /> <img src="img/hit.png" />
          <div class="product-price">4900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79284592040531880_75474246.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">묠리요정</div>
          <hr />
          <br />
          <img src="img/free.png" alt="" />
          <div class="product-price">8900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79285768974710949_2042807126.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">꿀벌요정</div>
          <hr />
          <br />
          <img src="img/free.png" alt="" />
          <div class="product-price">6900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79285918278051012_963303051.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">나비요정</div>
          <hr />
          <br />
          <img src="img/good.png" alt="" />
          <div class="product-price">4900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79287860535516630_1034121866.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">꽃헤어</div>
          <hr />
          <br />
          <img src="img/hit.png" alt="" />
          <div class="product-price">4900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79290475270891193_1114253180.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">키링요정</div>
          <hr />
          <br />
          <img src="img/mdpick.png" /> <img src="img/good.png" />
          <div class="product-price">4900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79290856724081754_134705193.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">새싹모자</div>
          <hr />
          <br />
          <img src="img/timesale.png" /> <img src="img/good.png" />
          <div class="product-price"><del>4900원</del>> 3800원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79291605529642341_351574298.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">뜨개헤어</div>
          <hr />
          <br />
          <img src="img/free.png" alt="" />
          <div class="product-price">4900원</div>
        </a>

        <a href="#" class="product">
          <img
            src="img/79291831325969145_1005496245.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">귀리본</div>
          <hr />
          <br />
          <img src="img/free.png" alt="" />
          <div class="product-price">4900원</div>
        </a>
        <a href="#" class="product">
          <img
            src="img/48551159923087761_109567778.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">새싹물통</div>
          <hr />
          <br />
          <img src="img/free.png" alt="" />
          <div class="product-price">4900원</div>
        </a>
        <a href="#" class="product">
          <img
            src="img/79917652297793392_1223891814.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">빅플라워</div>
          <hr />
          <br />
          <img src="img/best.png" alt="" /><img src="img/free.png" />
          <div class="product-price"><del>5900원</del>> 4000원</div>
        </a>
        <a href="#" class="product">
          <img
            src="img/79917856050981917_1112942119.jpg"
            width="225"
            height="225"
          />
          <div class="product-name">랑이노트</div>
          <hr />
          <br />
          <img src="img/best.png" alt="" /><img src="img/free.png" />
          <div class="product-price"><del>6900원</del>> 4200원</div>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="footer">
      <a href="http://youtude.com">
        <img src="img/유투브.png" height="40" />
      </a>
      <a href="http://instagram.com">
        <img src="img/인스타.png" height="40" />
      </a>
      <a href="http://facebook.com">
        <img src="img/페이스북.png" height="40" />
      </a>
    </div>
  </body>
</html>
