
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>버츄얼랜드</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

</head>

<body>
    </div>
    <div id="login">
        <a href="#">login</a> <a href="#">Join</a>
    </div>
    <header>
        <h1>VirtualLand</h1>

    </header>
    <nav>
        <a href="#">즐길거리</a>
        <a href="#">요금/우대혜택</a>
        <a href="#">참여프로그램</a>
        <a href="#">이용가이드</a>
        <a href="#">소통서비스</a>
    </nav>
    <main>
        <section>
            <img src="img/coster.png" alt="Roller coaster">
            <h2>어트랙션</h2>
            <p>스릴 있는 놀이기구: 아드레날린이 솟구치고 심장이 뛰도록 설계된 놀이기구입니다. 일반적으로 고속, 가파른 낙하, 꼬임 및 회전이 포함됩니다. 롤러코스터는 스릴 놀이기구의 인기 있는 예이지만
                드롭 타워, 회전 놀이기구, 진자 놀이기구 등 이 범주에 속하는 다른 종류의 놀이기구도 있습니다.</p>
        </section>
        <section>
            <img src="img/goods.png" alt="Water park">
            <h2>버츄얼스토어</h2>
            <p>저희 상품 스토어에 오신 것을 환영합니다! 우리는 당신이 집에 가져갈 수 있고 우리 놀이 공원에 방문한 것을 기억할 수 있도록 다양한 품목을 제공합니다.


                우리 공원의 로고와 인기 어트랙션이 새겨진 티셔츠, 모자, 후드티 등의 의류가 있습니다. 우리의 기념품 컵과 머그는 또한 좋아하는 음료를 즐기면서 우리와 함께한 하루를 기억할 수 있는
                좋은 방법입니다.


                어린 아이들에게는 공원 마스코트와 인기 캐릭터의 봉제 인형을 제공합니다. 우리는 또한 친구와 가족을 위한 훌륭한 선물이 되는 열쇠고리, 자석 및 기타 작은 기념품을 가지고 있습니다.
            </p>
        </section>
        <section>
            <img src="img/childern.jpg" alt="Carousel">
            <h2>Kids' Rides</h2>
            <p>이 놀이기구는 어린 아이들을 염두에 두고 설계되었으며 일반적으로 스릴 놀이기구보다 덜 강렬합니다. 어린이용 놀이기구의 예로는 부드러운 회전목마, 작은 롤러코스터, 어린이용 그네가 있습니다.
                이러한 놀이기구는 아이들에게 재미있고 흥미로울 뿐만 아니라 안전하고 연령대에 적합합니다.</p>
        </section>
        <section>
            <img src="img/food.jpg" alt="Food and drinks">
            <h2>Food &amp; Drink</h2>
            <p>.휴식을 취하고 피자, 탄산음료, 아이스크림을 포함한 맛있는 간식과 간식을 즐기세요</p>
        </section>
    </main>
    <footer>
        <div id="f1">
            <a href="#">소개</a>

            <a href="#">개인정보처리방침</a>

            <a href="#">이용약관</a>
        </div>
        <p>&copy; 2023 VirtualLand Amusement Park. All rights reserved.</p>
    </footer>
</body>

</html>