* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr {
  opacity: 0.2;
  width: 70%;
  margin: 0px auto;
}

/*슬라이드 쇼*/

.swiper-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.swiper {
  width: 100vw;
  height: 70%;
}
.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* 브라우저별 정렬 */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* swiper imag 설정 */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper button 설정 */
.swiper-button-next {
  background-image: url(next.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.swiper-button-prev {
  background-image: url(left-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
/* autoplay button */
.btn-wrapper {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.5%;
  left: 53%;
  color: blue;
  background-color: rgba(0, 0, 0, 0.3);
  width: 30px;
  border-radius: 50px;
  font-size: 10px;
}
/*슬라이드 쇼*/

body {
  margin: 0;
  min-width: 1200px;
  font-family: "Helvetica";
  overflow-x: hidden;
}

/* navbar */
.navbar {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img {
  vertical-align: middle;
}

.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar #menu li {
  float: left;
  margin-left: 50px;
  line-height: 60px;
}

.navbar #menu li a {
  text-decoration: none;
  color: #545454;
  font-size: 13px;
  font-weight: bold;
}
/* products */

.products h3 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  align-content: center;
}
.product-list {
  width: 1535px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
.product {
  width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
}

.product-name {
  margin-top: 20px;
  margin-bottom: 4px;
}
.clearfix {
  clear: both;
}
/* footer */
.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.footer a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
